body {
    background-color: rgb(41, 34, 48);
    color: white;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.calc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4px;
    row-gap: 4px;
    width: 300px;
    border: 1px solid #888;
    padding: 4px;
    border-radius: 10px;
}

button {
    background-color: grey;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eeeeeec0;
    cursor: pointer;
}
button:active {
    border: 1px solid  rgb(41, 34, 48);
}

button.ops {
    background-color: orange;
}
button.special {
    background-color: #424242;
}

#display {
    grid-column: span 4;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    background-color: transparent;
    color: rgb(197, 197, 197);
    border: none;
}
#display.update {
    color: transparent;
}
#zero {
    grid-column: 1 / span 2;
}
